<a href="https://colab.research.google.com/github/Hoangthang017/CS331-338-431_nine-dash-line-detection/blob/main/nine_dash_line/model/Dataset_nine_dash_line.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# mount drive

In [1]:
# kết nối với gg.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Read json file

In [2]:
# đọc file json từ drive 
import json
import pandas as pd
with open('/content/drive/MyDrive/Data Nine-Dash-Lines/Train/annotations/ninedash_keypoints_train.json') as json_data:
  dataJson = json.load(json_data)

In [3]:
print(len(dataJson['annotations']))
print(dataJson['images'][10])
print(len(dataJson['images']))

912
{'file_name': '010.jpg', 'height': 415, 'id': 10, 'license': 1, 'width': 622}
2590

# get bbox and label

In [9]:
# khởi tạo dataFrame
dfcols = ["image_names","categories","xmin","ymin","xmax","ymax"]
df = pd.DataFrame(columns=dfcols)

In [10]:
# duyệt qua cái file để lấy bbox 
for i in range(len(dataJson['images'])):
  imgName = dataJson['images'][i]['file_name']
  imgID = dataJson['images'][i]['id']
  if (imgID < len(dataJson['annotations'])):
    imgBbox = dataJson['annotations'][imgID]['bbox']
    data = [imgName,1] + imgBbox
  else:
    data = [imgName,0] + [0,0,0,0]

  df = df.append(pd.Series(data, index=dfcols),ignore_index=True)

In [15]:
df.shape

(2590, 6)

In [16]:
df.head(100)

   image_names categories xmin ymin xmax  ymax
0      000.jpg          1  388  130  447   599
1      001.jpg          1  174   52  209   266
2      002.jpg          1  245   85  277   341
3      003.jpg          1  115   68  914   727
4      004.jpg          1  208   13  277   347
..         ...        ...  ...  ...  ...   ...
95     096.jpg          1  536  172  982  1300
96     097.jpg          1  276  116  306   412
97     098.jpg          1  121  125   81   104
98     099.jpg          1   33   15  576   853
99     100.jpg          1  114  112  315   395

[100 rows x 6 columns]

# save bbox and label

In [13]:
df.to_csv('/content/drive/MyDrive/Data Nine-Dash-Lines/Train/annotations/dataset.csv')